body{
    font-family: Arial, sans-serif;
    background-color: #9c8d8d;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    background-position: center;
}

    .container{
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}